

<ul id="articles"><br>
  <% @articles.each do |article| %>
    <li>
    <h2><%= link_to article.title, article_path(article) %></h2>
    <h4><%= distance_of_time_in_words(article.created_at, article.created_at) %> </h4> 
    <p class="article_main"><%= article.preview %></p>  
    <p class="read_more"><%= link_to "Read This Article >", article_path(article) %></p>

    </li> <br />
  <% end %>
</ul>

<% if logged_in? %>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>

 





